<div class="toolbar cf">
	<div class="tool_date cf">
		<div class="title cf">
			<div class="more form" id="ver_keys">			
				<form id="lcsubmit" battr=1  burl='Category/showCategory' page="Category/category" class="fl">
					<label>关键字搜索:</label>
					<input type="text" name="keywords" placeholder="精确查找- 英文名:值"/>
					<input type="submit"  class="btn" value="搜索">
				</form>
				{if $permission.'Category/updateCate'}
					<label><input type="button" value="保存"  burl="Category/updateCate" class="saveInfo btn"/></label>
				{/if}
				{if $permission.'Category/addCate'}
					<button type="button" onclick="addCate(0)" class="btn">
						<span class="ui-button-text">添加导航栏</span>
					</button>
				{/if}
			</div>
		</div>
	</div>
</div>
<!-- -->
<div id="table_column" class="column cf datashow">
	<div id="dataTable" class="dataTable">
		<!--第一级-->
		<table  width="80%" cellpadding="5" cellspacing="3" class="contab">
				<thead>
					<tr>
						<th>分类ID(id)</th>
						<th>分类名称(name)</th>
						<th>分类模板(page)</th>
						<th>分类数据地址(url)</th>
                        <th>排序(idx)&nbsp;<i title="数字越大对应栏目越靠前" class="tooltip fa fa-info-circle"></i></th>	
						<th>状态(status)</th>
						<th>操作</th>
					</tr>
				</thead>		
				<tbody class="dataTab">
					{foreach from=$aData key=key item=val}
					<tr>
						<td><input disabled="disabled" type="hidden" name="id" value={$val.id} >{$val.id}</td>
						<td><input disabled="disabled" type="hidden" name="pid" value={$val.pid}>
							<input disabled="disabled" type="text" name="name" value="{$val.name}"/>
						</td>
						<td><input disabled="disabled" type="text" name="page" value="{$val.page}"/></td>
						<td><input disabled="disabled" type="text" name="url" value="{$val.url}"/></td>
						<td><input disabled="disabled" type="text" name="idx" value="{$val.idx}"/></td>
						<td>
							<select name="status" disabled="disabled">
								<option {if $val.status == 1}selected="selected"{/if} value=1 >正常</option>
								<option {if $val.status == 0}selected="selected"{/if} value=0 >禁用</option>								
								<option {if $val.status == 2}selected="selected"{/if} value=2 >nomenu导航</option>								
							</select>
						</td>
						<td align="center">							
							<span><a class="ctdDetail">查看</a></span>&nbsp;|
							<span><a class="editTr" isedit="0">编辑</a></span>
							{if $permission.'Category/delCate'}
								|
								<a class="dropTr" burl="Category/delCate">
									<img width="16" height="16" alt="删除" title="删除" src="/Admin/images/b_drop.png">
								</a>
							{/if}								
							{if $permission.'Category/addCate'}
								|
								<span><a onclick="addCate({$val.id})">新增子节点</a></span>
							{/if}
						</td>
					</tr>
					{if $val.son}
                    <tr class="sonTr" style="display:none; z-index:2;">
							<td colspan=7>
								<!--第二级-->
								<table>		
									<tbody class="dataTab">
										{foreach from=$val.son key=key item=secondItem}
										<tr>
											<td><input disabled="disabled" type="hidden" name="id" value={$secondItem.id} >{$secondItem.id}</td>
											<td><input disabled="disabled" type="hidden" name="pid" value={$secondItem.pid}>
												<input disabled="disabled" type="text" name="name" value="{$secondItem.name}"/>
											</td>
											<td><input disabled="disabled" type="text" name="page" value="{$secondItem.page}"/></td>
											<td><input disabled="disabled" type="text" name="url" value="{$secondItem.url}"/></td>
											<td><input disabled="disabled" type="text" name="idx" value="{$secondItem.idx}"/></td>
											<td>
												<select name="status" disabled="disabled">
													<option {if $secondItem.status == 1}selected="selected"{/if} value=1 >正常</option>
													<option {if $secondItem.status == 0}selected="selected"{/if} value=0 >禁用</option>	
                                                    <option {if $secondItem.status == 2}selected="selected"{/if} value=2 >nomenu导航</option>	
												</select>
											</td>
											<td align="center">							
												<span><a class="editTr" isedit="0">编辑</a></span>
												{if $permission.'Category/delCate'}
													|
													<a class="dropTr" burl="Category/delCate">
														<img width="16" height="16" alt="删除" title="删除" src="/Admin/images/b_drop.png">
													</a>
												{/if}		
												{if $permission.'Category/moveCate'}
													|											
													<span><a onclick="moveCate({$secondItem.id})">移动</a></span>
												{/if}	
											</td>
										</tr>
										{if $secondItem.son}
										<tr class="sonTr" style="display:none;z-index:3">
											<td colspan=7>
												<!-- 第三级 -->
												<table>		
													<thead>
														<tr>
															<th style="background:#87CEEB" colspan=6>{$secondItem.name}</th>
														</tr>
													</thead>
													<tbody class="dataTab">
														{foreach from=$secondItem.son key=key item=thirdItem}
														<tr>
															<td><input disabled="disabled" type="hidden" name="id" value="{$thirdItem.id}" />{$thirdItem.id}</td>
															<td><input disabled="disabled" type="hidden" name="pid" value={$thirdItem.pid}>
																<input disabled="disabled" type="text" name="name" value="{$thirdItem.name}"/>
															</td>
															<td><input disabled="disabled" type="text" name="page" value="{$thirdItem.page}"/></td>
															<td><input disabled="disabled" type="text" name="url" value="{$thirdItem.url}"/></td>
															<td><input disabled="disabled" type="text" name="idx" value="{$thirdItem.idx}"/></td>
															<td>
																<select name="status" disabled="disabled">
																	<option {if $thirdItem.status == 1}selected="selected"{/if} value=1 >正常</option>
																	<option {if $thirdItem.status == 0}selected="selected"{/if} value=0 >禁用</option>
                                                                    <option {if $thirdItem.status == 2}selected="selected"{/if} value=2 >nomenu导航</option>	
																</select>
															</td>
															<td>							
																<span><a class="editTr" isedit="0">编辑</a></span>
																{if $permission.'Category/delCate'}
																	|
																	<a class="dropTr" burl="Category/delCate">
																		<img width="16" height="16" alt="删除" title="删除" src="/Admin/images/b_drop.png">
																	</a>
																{/if}	
																{if $permission.'Category/moveCate'}
																	|															
																	<span><a onclick="moveCate({$thirdItem.id})">移动</a></span>
																{/if}
															</td>
														</tr>												
														{/foreach}
													</tbody>
												</table>
											</td>
										</tr>
										{/if}
										{/foreach}
									</tbody>
								</table>
							</td>
						</tr>
					{/if}
					{/foreach}
				</tbody>
		</table>
	</div>
<div>{$pagelink} </div>
</div>	
<!-- end -->
<!--新增子节点弹层-->
<div id="addcate_dialog" style="display: none;" title="新增节点">
    <div class="validateTips" id="menuTips" style="display:none;"></div>
    <form name="categoryForm" id="categoryForm" method="post" action="" target="_blank">
        <div class="bill">
        	<div class="bill-item">
                <div style="width: 26%;" class="bill-item-left">分类名称：</div>
                <div style="width: 70%;" class="bill-item-right">
                   <input type="text" name="name" style="width:220px;"/>
                </div>
                <div class="clr" />
            </div>
            <div class="bill-item">
                <div style="width: 26%;" class="bill-item-left">分类模板：</div>
                <div style="width: 70%;" class="bill-item-right">
                   <input type="text" name="page" style="width:220px;"/>
                </div>
                <div class="clr" />
            </div>
            <div class="bill-item">
                <div style="width: 26%;" class="bill-item-left">分类数据地址：</div>
                <div style="width: 70%;" class="bill-item-right">
                   <input type="text" name="url" style="width:220px;"/>
                </div>
                <div class="clr" />
            </div>
        	<div class="bill-item">
                <div style="width: 26%;" class="bill-item-left">状态：</div>
                <div style="width: 70%;" class="bill-item-right">
                   <select name="status">
                   		<option value="1">正常</option>
	                	<option value="0">禁用</option>
	                	<option value="2">nomenu导航</option>
                	</select>
                </div>
                <div class="clr" />
            </div>
        </div>
    </form>
</div>
<!-- 移动弹层 -->
<div id="moveCate_dialog" style="display:none">
	<div class="validateTips" id="moveTips" style="display:none;"></div>
	<form name="moveForm" id="moveForm">
		 <div class="bill">
        	<div class="bill-item">
                <div style="width: 26%;" class="bill-item-left"></div>
                <div style="width: 70%;" class="bill-item-right">
                   <select name="tid" style="border-radius: 5px;padding: 5px 6px;margin:15px 6px">
						{foreach from=$menuTree key=key item=val}
							<option value="{$val.id}">{$val.name}</option>
							{if $val.son}
								{foreach from=$val.son key=key item=secondC}
									<option value="{$secondC.id}"><em>&nbsp;&nbsp;&nbsp;&nbsp;|__ </em>{$secondC.name}</option>
									{if $secondC.son}
										{foreach from=$secondC.son key=key item=thirdC}
											<option value="{$thirdC.id}"><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|__ </em>{$thirdC.name}</option>						
										{/foreach}
									{/if}
								{/foreach}
							{/if}					
						{/foreach}
					</select>
                </div>
                <div class="clr" />
            </div>
        </div>    
	</form>	
</div>
{literal}
<script type="text/javascript">  
	$LAB.script('/Admin/js/Category/category.js?'+ LC._version);
    $('.tooltip').tooltipster({
        contentAsHTML: true,
        autoClose: false,
    });
</script>
{/literal}
