<div id="footer">
    <div id="footer-wrap" class="center-1000">
        <div id="com-info" class="left">
            <div class="left"> <i></i> </div>
            <div class="left"> <span>公司信息</span> <a href="###">关于我们</a> <a href="###">加入我们</a> <a href="###">联系我们</a> </div>
            <div class="clr"></div>
        </div>
        <div id="user-help" class="left">
            <div class="left"> <i></i> </div>
            <div class="left"> <span>用户帮助</span> <a href="###">帮助中心</a> <a href="###">预订流程</a> </div>
            <div class="clr"></div>
        </div>
        <div id="bu-coo" class="left">
            <div class="left"> <i></i> </div>
            <div class="left"> <span>商家合作</span> <a href="###">商家后台</a> <a href="###">工作人员入口</a> </div>
            <div class="clr"></div>
        </div>
        <div id="contact-us" class="left">
            <div class="left"> <i></i> </div>
            <div class="left"> <span>工作时间</span> <span class="a">周一至周六 9:00-21:00</span> <span class="a">客服电话 4008-888-888</span> </div>
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
    </div>
    <div id="copyright"> 粤ICP备1463246876号 ©2014 运动人生 使用本网站即表示接受运动人生用户协议 </div>
</div>
</body>
<script src="/Common/js/jquery-1.11.1.min.js"></script>
<script src="/Common/js/front-core.js"></script>
<script>
$(document).delegate("#sbtn", "click", function() {
	var kpForm = document.getElementById('searchForm');
	kpForm.submit();
});
</script>
