<div class="validateTips" id="menuTips" style="display:none;"></div>
<form name="categoryForm" id="editForm" method="post" action="" target="_blank">
    <div class="bill">
        <div class="bill-item">
            <div style="width: 26%;" class="bill-item-left">场地名称：</div>
            <div style="width: 70%;" class="bill-item-right">
                <input type="text" required name="name" style="width:243px;" />
            </div>
            <div class="clr" />
        </div>
    </div>
    </div>
</form>
