<include file="Public:header" />
<div id="content" class="center-1000">
  <div id="order_wrap">
    <include file="User:userNav" />
    <div class="right item_list">
      <div class="baseinfo-group">
        <label class="baseinfo-label">手机号码：</label>
        <div class="baseinfo-content">
          <div class="edit-able"><strong>159*****545</strong><a href="mobile" class="cl-blue">修改</a></div>
          <span class="new_phone input-text none"><input type="text" id="mobile" class="input" maxlength="11"><a href="#" data-role="edit-mobile" class="edit-cancel cl-blue">取消修改</a></span>
          <button class="btn send-sms none" id="sendMobileCode" type="button">发送验证码</button>
        </div>
      </div>
      <div id="phone_code" class="baseinfo-group none">
        <label class="baseinfo-label">手机验证码：</label>
        <div class="baseinfo-content">
            <span class="input-text"><input type="text" id="sms_code" class="input"></span><a href="sms_code" class="cl-blue">保存</a>
        </div>
      </div>
      <div class="baseinfo-group">
        <label class="baseinfo-label">邮箱：</label>
        <div class="baseinfo-content">
          <div class="edit-able" style="display: block;"><strong>ea****b@gmail.com</strong><a href="mobile" class="cl-blue">修改</a></div>
          <span class="new_email input-text none"><input type="text" id="email" class="input"><a href="#" class="edit-cancel cl-blue">取消修改</a></span>
          <button class="btn send-email none" id="sendEmailCode" type="button">发送验证邮件</button>
        </div>
      </div>
      <div id="email_code" class="baseinfo-group none">
        <label class="baseinfo-label">邮箱验证码：</label>
        <div class="baseinfo-content">
            <span class="input-text"><input type="text" id="email_code" class="input"></span><a href="email_code" class="cl-blue">保存</a>
        </div>
      </div>
      <div class="baseinfo-group">
        <label class="baseinfo-label">用户名：</label>
        <div class="baseinfo-content">
          <div class="edit-able" style="display: block;"><strong>我的名字叫用户名</strong><a href="mobile" class="cl-blue">修改</a></div>
          <span class="new_name input-text none"><input type="text" id="name" class="input"><a href="#" class="edit-cancel cl-blue">取消修改</a></span>
          <button class="btn save-name none" id="saveName" type="button">保存</button>
        </div>
      </div>
      <div class="baseinfo-group">
        <label class="baseinfo-label">用户密码</label>
        <div class="baseinfo-content">
          <div class="edit-able" style="display: block;"><a href="mobile" class="cl-blue">修改</a></div>
          <span class="new_pwd input-text none"><input type="password" id="pwd" class="input"><a href="#" class="edit-cancel cl-blue">取消修改</a></span>
          <button class="btn save-pwd none" id="savePwd" type="button">保存</button>
        </div>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<include file="Public:footer" />
<script src="/Common/js/front-core.js"></script>
<script type="text/javascript">
$(function() {
    $('.star_rate').raty({
        starHalf: './img/star-half.png', // The name of the half star image.
        starOff: './img/star-off.png', // Name of the star image off.
        starOn: './img/star-on.png',
        score: function() {
            var v = $(this).attr('data-score');
            return v?v:0;
        },
    });
    $('.cl-blue').click(function() {
        $('body#order .item_list .comment').not($(this).next().next()).hide();
        var e = $(this).next().next();
        if (e.hasClass('comment')) e.toggle();
    });

    $('.comment-total').delegate('img,.right a', 'click', function(){
        var text = $(this).parent().parent().find('.comment-text');
        if (text.size() > 0) {
            text.hide();
        }
        $(this).parent().parent().next().show();
    })
});
</script>
</html>
