<table class="table-chang">
    <tr>
        <th>&nbsp;</th>
        <foreach name="time" item="v">
            <th>{$v['0']}-{$v['1']}</th>
        </foreach>
    </tr>
    <foreach name="site" item="v">
        <tr>
            <th>{$v.n}</th>
            <foreach name="time" item="k" key="b">
                <td>
                    <php>
                        if ($v[$b]['a'] == 2) { if ($v[$b]['o'] == 0) { echo '
                        <div style="width:50%;" i="' . $v[$b]['i'] . '" b="' . $v[$b]['b'] . '" e="' . $v[$b]['e'] . '" p="' . $v[$b]['p'] . '" n="' . $v['n'] . '" title="' . $v[$b]['b'] . '-' . $v[$b]['e'] . ' ' . $v['n'] . ' ' . $v[$b]['p'] . '元" class="allow-sale left"></div>
                        <div style="width:1%;" class="border left"></div>
                        <div style="width:49%;" i="' . $v[$b]['i'] . '" b="' . $v[$b]['b'] . '" e="' . $v[$b]['e'] . '" p="' . $v[$b]['p'] . '" n="' . $v['n'] . '" title="' . $v[$b]['b'] . '-' . $v[$b]['e'] . ' ' . $v['n'] . ' ' . $v[$b]['p'] . '元" class="allow-sale left"></div>'; } if ($v[$b]['o'] == 1) { echo '
                        <div style="width:50%;" title="抱歉，该场地已售出！" class="saled left"></div>
                        <div style="width:1%;" class="border left"></div>
                        <div style="width:49%;" i="' . $v[$b]['i'] . '" b="' . $v[$b]['b'] . '" e="' . $v[$b]['e'] . '" p="' . $v[$b]['p'] . '" n="' . $v['n'] . '" title="' . $v[$b]['b'] . '-' . $v[$b]['e'] . ' ' . $v['n'] . ' ' . $v[$b]['p'] . '元" class="allow-sale left"></div>'; } if ($v[$b]['o'] == 2) { echo '
                        <div title="抱歉，该场地已售出！" class="saled"></div>'; } } else { if ($v[$b]['a'] > $v[$b]['o']) { echo '
                        <div title="' . $v[$b]['b'] . '-' . $v[$b]['e'] . ' ' . $v['n'] . ' ' . $v[$b]['p'] . '元" class="allow-sale"></div>'; } else { echo '
                        <div title="抱歉，该场地已售出！" class="saled"></div>'; } }
                    </php>
                </td>
            </foreach>
        </tr>
    </foreach>
</table>
<div id="site-info-desc">
    <div id="site-info-desc-al"><span></span>可预定</div>
    <div id="site-info-desc-se"><span></span>已选择</div>
    <div id="site-info-desc-sa"><span></span>已出售</div>
</div>
