html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input {margin:0;padding:0;border:0;vertical-align:baseline;color:#333;font:inherit;}
body {background:url(../img/bg.png);font-family:"Microsoft Yahei", "微软雅黑", Arial, STHeiti, Tahoma, Helvetica;font-size:12px;}
ol,ul,ul li {list-style:none;margin:0px;padding:0px;}
table {border-collapse:collapse;border-spacing:0;}
a {text-decoration:none;}
input.f-check[type="checkbox"] {border:3px solid red;}
a:hover {color:#1bb8a8;}
.none {display:none;}
.center-1000 {width:1000px;margin:0 auto;}
.w-750 {width:750px;}
.w-1000 {width:1000px;}
.w-240 {width:240px;}
.left {float:left;}
.right {float:right;}
.clr {clear:both;width:0px;height:0px;}
.bg-org {background-color:#f76120;}
.cl-org {color:#f76120;}
.cl-gray {color:#999;}
.cl-ccc {color:#ccc;}
.cl-999 {color:#999;}
.cl-blue {color:#1bb8a8;}
.lh-25 {line-height:25px;}
.ag-center {text-align:center;}
.bg-org:hover {background-color:#f6692e;}
.bg-blue {background-color:#1bb8a8;}
.bg-brown {background-color:#fbb45c;}
.bg-green {background-color:#92ca35;}
.bg-gray {background-color:#c8c8c8;}
.bg-6e {background-color:#c8c8c8;}
.dashed {border-bottom:1px dashed #ddd;}
li span.spe {margin:0 10px;font-size:5px;color:#ddd;font-weight:normal;}
#top {background-color:#f9f9f9;height：28px;border-bottom:1px solid #ddd;border-top:1px solid #ddd;width:100%;font-size:11px;line-height:28px;}
#logo-wrap {background-color:#fff;}
#logo {padding:24px 0 0 0;}
#top #top-app {background:url(../img/app.png) 0 8px no-repeat;padding-left:16px;}
#top #top-wx {background:url(../img/wx.png) 0 5px no-repeat;padding-left:31px;}
#top #top-wb {background:url(../img/wb.png) 0 5px no-repeat;padding-left:30px;}
#top .light a {color:#f76120;}
#top .light a:hover {text-decoration:underline;}
#logo-city {margin:0px 0 0 15px;}
#cur-city {z-index:9999;position:relative;width:48px;padding:0 3px 4px 3px;border-bottom:1px solid #ddd;cursor:pointer;}
#cur-city span {font-size:16px;color:#999;}
#city-dropdown {width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #999;border-bottom:6px dashed #fff;background-image:none;position:relative;top:11px;left:0px;}
#select-city {border:1px solid #ddd;padding:1px 4px;color:#999;margin-top:5px;display:block;position:relative;background-color:#fff;z-index:10;}
/*#cur-city:hover {background-color:#F6692E;border:0;}*/
/*#cur-city:hover span{color:#fff;}*/
#cur-city:hover span {color:#666;}
#cur-city:hover #city-dropdown {border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #666;border-top:6px solid #fff;top:-12px;left:0px;}
#cur-city:hover #city-list {display:block;}
#city-list {cursor:auto;display:none;position:absolute;border:1px solid #ddd;left:0px;top:22px;width:400px;z-index:1;background-color:#fff;padding:10px;}
#city-list span.city-letter {border-radius:5px;color:#1BB8A8;font-weight:bold;margin:0 15px 0 0;padding:0 15px;height:26px;line-height:26px;background:#eee;}
#city-list .city-row:hover {background-color:#eee;border-radius:5px;}
#city-list a.city {display:inline-block;height:26px;line-height:26px;margin:0 8px;}
#logo_search {margin:5px 0 0 100px;}
#logo_search input {display:block;border:2px solid #f76120;height:33px;width:321px;margin:0;padding:0 0 0 8px;color:#333;border-right:none;outline:0 none}
#logo_search span {display:block;text-align:center;color:#fff;cursor:pointer;line-height:37px;width:65px;height:37px;font-size:15px;}
#logo_contactus {float:right;margin:5px 0 0 132px;}
#logo_contactus div {height:21px;line-height:21px;display:inline-block;background:url(../img/tele.png) 0 0 no-repeat;padding-left:29px;margin-top:10px;}
#menu {padding-top:16px;margin:0 0 20px 0;position:relative;background-color:#fff;height:51px;width:100%;z-index:2;}
#menu .center-1000 {position:absolute;z-index:1;left:50%;margin-left:-500px;}
#menu #cur-project {background:url(../img/arrow.png) no-repeat right top;}
#menu #cur-project span.bg-org {z-index:9999;cursor:pointer;display:block;width:144px;height:51px;background-image:url(../img/dropdown.png);background-repeat:no-repeat;background-position:85px 23px;text-align:center;line-height:51px;color:#FFF;font-size:16px;text-indent:-15px;margin-right:13px;position:relative;}
#menu #cur-project span.bg-org:hover {background-position:85px -38px;}
#menu #cur-project span div {position:absolute;background-color:#d5d5d5;width:144px;display:none;}
#menu .bg-blue {height:44px;position:absolute;width:100%;bottom:0;z-index:0;}
#menu ul li {height:51px;}
#menu #cur-project span:hover div {display:block;}
#menu #cur-project span div .item {height:40px;color:#333;font-size:15px;line-height:40px;display:block;text-align:left;width:144px;text-indent:45px;background-image:url(../img/pro.png);background-repeat:no-repeat;}
#menu #cur-project span div .item:hover {background-color:#eee;}
#menu #cur-project #ym {background-position:10px 10px;}
#menu #cur-project #wq {background-position:10px -30px;}
#menu #cur-project #yy {background-position:10px -70px;}
#menu #cur-project #nq {background-position:10px -110px;}
#menu #cur-project #pp {background-position:10px -150px;}
#menu #cur-project span div .spe {height:1px;}
#menu #cur-project span div .spe {height:1px;display:block;background:url(../img/spe.png) no-repeat center center;}
#menu ul li.menu a,#menu ul li.menu span {color:#fff;height:44px;display:block;margin-top:7px;line-height:44px;font-size:16px;padding:0 20px;min-width:54px;}
#menu ul li.menu span {background-color:#339999;}
#menu ul li.menu a:hover {background-color:#00c3b0;}
#banner {padding-bottom:20px;position:relative;height:220px;z-index:1;}
#banner #nav {position:absolute;left:462px;bottom:25px;z-index:9999;}
#banner #nav span {text-indent:-999px;display:inline-block;display:inline-block;margin:0 8px 0 0;background:#CCC;border-radius:100%;cursor:pointer;width:11px;height:11px;}
#banner #nav span.cycle-pager-active {background:#1bb8a8;}
#content-right {margin-left:10px;}
#cycle-slideshow img {cursor:pointer;}
#search_condition {background-color:#fff;border:1px solid #ddd;border-top:4px solid #1bb8a8;}
#search_condition ul {display:block;}
.selitem {clear:both;zoom:1;width:100%;line-height:46px;}
.selitem dt {float:left;color:#999;display:inline;padding-right:5px;margin-left:40px;}
.selitem dd {float:left;line-height:24px;margin-top:11px;}
.w-750 .selitem dd {width:640px;}
.w-1000 .selitem dd {width:910px;}
.selitem dd a,.selitem dd span {display:inline-block;float:left;margin-right:16px;padding:0 3px;white-space:nowrap;}
.selitem dd span {color:#F76120;}
.selitem dd a {color:#333;}
.selitem dd a:hover {color:#1bb8a8;}
#search_condition .area {background:url(../img/location.png) no-repeat 12px 10px;}
#search_condition .dashed {margin:8px 5px 0 5px;}
#search_condition .subway {background:url(../img/subway.png) no-repeat 12px 10px;}
#search-order {line-height:35px;height:35px;}
#search-order .left {border-right:1px solid #ddd;border-top:1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;min-width:72px;display:block;position:relative;cursor:pointer;}
#search-order .left:hover {color:#1BB8A8;}
.w-750 .w-83 {width:83px;}
.w-750 .w-94 {width:94px;}
.w-750 .w-256 {width:255px;}
.w-1000 .w-83 {width:83px;}
.w-1000 .w-94 {width:94px;}
.w-1000 .w-256 {width:505px;}
#search-order {background-color:#fff;border-left:1px solid #ddd;margin-top:10px;}
#search-order .filter_bg {background-image:url(../img/filter.png);background-repeat:no-repeat;}
#search-order i {width:7px;height:8px;display:inline-block;margin-left:8px;}
#search-order .cur {border-top:2px solid #1BB8A8;color:#1BB8A8;line-height:34px;height:34px;}
#search-order .cur a {color:#1BB8A8;}
#search-order .down {background-position:0px -90px;}
#search-order .cur .down,#search-order a:hover .down {background-position:0px -82px;}
#search-order .up {background-position:0px -17px;}
#search-order .cur .up,#search-order .left:hover .up {background-position:0px -9px;}
#search-order .range {width:0;height:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #999;border-bottom:4px dashed #fff;background-image:none;position:relative;top:2px;}
#search-order .cur .range,#search-order .left:hover .range {border-left:4px solid transparent;border-right:4px solid transparent;border-bottom:4px solid #1BB8A8;border-top:4px dashed #fff;position:relative;top:-2px;}
#search-order .checkbox {position:relative;padding-left:15px;background-position:0 -44px;vertical-align:top;outline:0;margin-right:10px;}
#search-order .checkbox:hover {color:#333;}
#search-order .checked {background-position:0 -25px;}
#item_list .item {margin-top:10px;background-color:#fff;border:1px solid #ddd;padding:9px;}
.item .item-left,.item .item-right {height:160px;}
.item .item-left {margin-right:10px;}
.item .add_pri {height:115px;}
.w-750 .item .item-right {width:470px;}
.w-1000 .item .item-right {width:670px;}
.name a,.name span {font-size:21px;color:#1BB8A8;}
.addr {color:#666;background:url(../img/s-location.png) 0px 0px no-repeat;padding-left:18px;margin-top:6px;}
.tele {color:#666;background:url(../img/login-bg.png) 1px -237px no-repeat;padding-left:18px;margin-top:6px;}
.w-750 .add_pri .left,.w-750 .data_order .left {width:320px;}
.w-1000 .add_pri .left,.w-1000 .data_order .left {width:520px;}
.w-750 .add_pri .right {width:100px;height:100%;}
.add_pri .right {padding-left:15px;}
.add_pri .right .price {font-size:18px;color:#f76120;font-weight:bold;margin-top:25px;}
.add_pri .right .price small {font-size:14px;color:#f76120;}
.add_pri .right .old-price {text-decoration:line-through;color:#999;margin:0 0 0 10px;}
.star_bg {background-image:url(../img/stars.gif);background-repeat:no-repeat;width:64px;height:12px;display:inline-block;height:12px;display:inline-block;}
.fav_bg {background-image:url(../img/fav.png);background-repeat:no-repeat;width:13px;}
.sale_bg {background-image:url(../img/sale.png);background-repeat:no-repeat;width:12px;}
.star0 {background-position:0 -120px;}
.star5 {background-position:0 -108px;}
.star10 {background-position:0 -96px;}
.star15 {background-position:0 -84px;}
.star20 {background-position:0 -72px;}
.star25 {background-position:0 -60px;}
.star30 {background-position:0 -48px;}
.star35 {background-position:0 -36px;}
.star40 {background-position:0 -24px;}
.star45 {background-position:0 -12px;}
.star50 {background-position:0 0;}
.data span.i {margin:0 5px 0 2px;color:#999;position:relative;top:-2px;margin-right:20px;}
.data_order .left {padding-top:10px;}
.data_order .right {width:119px;height:33px;line-height:33px;text-align:center;}
.data_order .right a {color:#fff;font-size:16px;display:block;}
#pagenation {margin:25px 0;}
#pagenation div {text-align:center;}
#pagenation div span,#pagenation div a {border:1px solid #ddd;padding:3px 9px;display:inline-block;margin:0 6px;}
#pagenation div a:hover {border:1px solid #1BB8A8;}
#pagenation div span {border:1px solid #f76120;color:#f76120;}
.side-wrap {border:1px solid #ddd;padding-bottom:15px;margin-bottom:10px;}
#hot {border-top:3px solid #1BB8A8;}
.side-head {height:41px;border-bottom:1px dashed #ddd;margin:0 8px;}
#rec_head {background:url(../img/recommend.png) 0 5px no-repeat;}
#hot_head {background:url(../img/hot.png) 0 5px no-repeat;}
#recently_head {background:url(../img/recently.png) 0 12px no-repeat;}
#rec_item_list {margin:10px 8px 0 8px;}
.right_img {text-align:center;margin-top:10px;}
#rec_img img {outline:none;}
.rec_item a.left {margin-right:10px;}
.rec_item div.left a {display:block;margin:5px 0 5px 0;}
#rec_item_list .dashed {margin:15px 0;}
#footer {margin:50px 0;border-top:1px solid #ddd;text-align:center;}
#footer #footer-wrap {text-align:center;margin:0 auto;}
#footer .left i {display:inline-block;height:33px;background-image:url(../img/footer-bg.png);background-repeat:no-repeat;width:40px;}
#footer-wrap .left span {font-size:15px;height:33px;line-height:33px;color:#999;}
#footer-wrap .left a {margin-top:10px;color:#aaa;}
#footer-wrap .left span.a {font-size:12px;height:16px;line-height:16px;margin-top:10px;color:#aaa;}
#footer-wrap .left a:hover {color:#f76120;}
#footer-wrap .left span,#footer-wrap .left a {display:block;margin-left:2px;text-align:left;}
#bu-coo,#user-help,#com-info,#contact-us {background:url(../img/footer-spe.png) 230px 0px no-repeat;margin-top:20px;padding-left:20px;height:150px;width:230px;}
#bu-coo i {background-position:-80px 0}
#user-help i {background-position:-40px 0}
#contact-us i {background-position:-120px 0}
#footer p {padding:3px 0;}
#footer .link {margin-top:10px;}
#footer .link a:hover {color:#f76120;}
#footer #contact-us {background:none;}
#footer #contact-us .link {margin-top:0px;}
#footer #contact-us .top {margin-bottom:10px;}
#footer #contact-us .top2 {margin:15px 0 10px 0;}
#footer #contact-us p {padding:0;}
#copyright {text-align:center;color:#ccc;}
body#login #logo-wrap {border-bottom:2px solid #1bb8a8;}
body#login #logo {padding-top:15px;height:75px;}
body#login #logo_img {margin-top:5px;}
body#login #title {height:55px;margin-left:13px;background:url(../img/logo-spe.png) 0px 0px no-repeat;}
body#login #title div {height:48px;line-height:48px;margin-left:10px;}
body#login #no-count {margin-top:15px;}
body#login #no-count .bg-blue {color:#fff;padding:3px 10px;}
body#login #no-count .bg-blue:hover,.btn:hover {background-color:#00C3B0;}
body#login #login-bg-top {width:100%;height:235px;}
body#login #login-wrap {position:relative;}
body#login #login-bg-bottom {width:100%;height:375px;background-color:#1bb8a8;}
body#login #login-bg-content {border-radius:5px;border:1px solid #1bb8a8;width:811px;height:538px;position:absolute;top:20px;left:50%;margin-left:-405px;background-color:#fff;}
body#login #login-bg-content form#login {display:inline-block;margin-left:70px;margin-top:37px;width:270px;}
.validate-info {margin-bottom:10px;border:1px #F76120 solid;border-radius:2px;padding:10px;min-height:18px;_height:18px;background:#FFEBD7;font-size:12px;}
.login-desc {font-weight:400;color:#666;}
.validate-info a {color:#1BB8A8;}
.validate-info a:hover {text-decoration:underline;}
.promotion-banner {position:absolute;top:0;right:60px;}
.tip-status {background-image:url(../img/status.png);background-repeat:no-repeat;background-position:0 -191px;display:inline-block;width:17px;height:17px;margin-right:5px;overflow:hidden;vertical-align:-3px;}
.tip-status--opinfo {background-position:0 -296px;}
.tip-status--success {background-position:0 -453px;}
input,textarea {outline:0 none;}
.form-field--icon {padding:8px 0;zoom:1;position:relative;}
.icon {background-image:url(../img/login-bg.png);background-repeat:no-repeat;width:18px;height:18px;display:inline-block;position:absolute;top:18px;left:9px;line-height:18px;vertical-align:text-top;}
.icon-user {background-position:0 -60px;}
.icon-password {background-position:0 -20px;}
.f-text {width:230px;height:24px;line-height:24px;font-size:14px;padding:5px 5px 5px 33px;border:1px solid #bfbfbf;}
.f-text:hover {border-color:#999;}
.f-text:focus {border:1px solid #1bb8a8;}
.form-field {position:relative;padding:8px 0 8px 0px;zoom:1;}
.form-field label {width:100px;padding-top:6px;font-size:13px;text-align:right;color:#666;display:inline-block;padding-right:10px;}
.forget-password {color:#1bb8a8;outline:0 none;float:right;}
.forget-password:hover {text-decoration:underline;}
label.normal {position:static;width:auto;padding:0;font-size:12px;text-align:left;}
.btn {color:#FFF;background-color:#2DB3A6;border-color:#008177;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2EC3B4', endColorstr='#FF2DB3A6');background-size:100%;background-image:-moz-linear-gradient(top, #2EC3B4, #2DB3A6);background-image:-webkit-linear-gradient(top, #2EC3B4, #2DB3A6);background-image:linear-gradient(to bottom, #2EC3B4, #2DB3A6);display:inline-block;vertical-align:middle;margin-top:26px;padding:7px 76px 6px;font-size:14px;font-weight:700;-webkit-font-smoothing:antialiased;line-height:1.5;letter-spacing:.1em;text-align:center;text-decoration:none;border-width:0 0 1px;border-style:solid;background-repeat:repeat-x;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;-moz-user-select:-moz-none;-ms-user-select:none;-webkit-user-select:none;user-select:none;cursor:pointer;}
.form-field--ops {text-align:center;}
.form-field--error .f-text {border:1px solid #F76120;}
#signup_header {margin-top:50px;}
#signup_header ul {border-bottom:2px solid #ddd;width:660px;margin:0 auto;}
#signup_header ul li {position:relative;margin-bottom:-2px;border-bottom:2px solid #ddd;padding:10px 20px;height:12px;line-height:12px;text-align:center;}
#signup_header ul li a {font-size:14px;padding-left:15px;display:inline-block;}
#signup_header ul li a i {width:14px;height:11px;top:12px;left:17px;}
#signup_header ul li:hover,#signup_header ul li.cur {border-bottom:2px solid #1bb8a8;}
#signup_header ul li:hover a,#signup_header ul li.cur a {color:#1bb8a8;}
#signup_header ul li a i.icon--email {background-position:0 -187px;}
#signup_header ul li:hover a i.icon--email,#signup_header ul li.cur a i.icon--email {background-position:0 -174px;}
#signup_header ul li a i.icon--phone {background-position:0 -253px;height:14px;top:11px;}
#signup_header ul li:hover a i.icon--phone,#signup_header ul li.cur a i.icon--phone {background-position:0 -238px;}
.signup_form {margin:23px 0 0 40px;}
.signup_form .f-text {padding-left:5px;}
.signup_form .inline-tip {color:#999;display:inline-block;margin-left:4px;padding:6px 0;}
.pw-strength__letter {position:absolute;top:0;left:0;}
.pw-strength {position:absolute;width:260px;top:50px;left:113px;background:#EEE;}
.form-field--pwd {padding-bottom:27px;}
.pw-strength__label {display:block;float:left;text-align:center;font-size:12px;height:20px;line-height:20px;width:85px;border-right:2px solid #FFF;color:#FFF;}
.pw-strength__bar {background:#D3EBEE;height:20px;width:0;overflow:hidden;transition:all .4s linear;-webkit-transition:all .4s linear;}
.pw-strength__label--noborder {border-right:0;}
.pw-strength__bar--weak {width:85px;background:#F76120;}
.pw-strength__bar--normal {width:172px;background:#FF8900;}
.pw-strength__bar--strong {width:260px;background:#5BAB3C;}
.signup_form .btn {padding:7px;margin:13px 0 0 112px;}
.form-field--vcode img {margin-bottom:-12px;}
.form-field--vcode a.captcha-refresh {color:#1BB8A8;}
.form-field--vcode a.captcha-refresh:hover {text-decoration:underline;}
.f1 {color:#1BB8A8;margin:10px 0 0 112px;display:inline-block;}
.f1:hover {text-decoration:underline;}
.btn-mini {padding:1px 8px 0;margin-left:113px;font-size:12px;font-weight:400;-webkit-font-smoothing:initial;color:#666;background-color:#DEDEDE;border:1px solid #E3E3E3;border-bottom:1px solid #AAA;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7F7F7', endColorstr='#FFDEDEDE');background-size:100%;background-image:-moz-linear-gradient(top, #f7f7f7, #dedede);background-image:-webkit-linear-gradient(top, #F7F7F7, #DEDEDE);background-image:linear-gradient(to bottom, #F7F7F7, #DEDEDE);cursor:pointer;letter-spacing:.1em;border-radius:2px;}
.form-field--vbtn {padding:1px 0;}
#follow_desc {padding-bottom:5px;}
#follow_desc span {display:inline-block;width:247px;text-align:center;color:#999;}
#follow_desc span i {background-image:url(../img/follow_bg.png);background-repeat:no-repeat;background-position:0 0px;width:19px;height:8px;display:inline-block;margin-left:5px;}
#follow_desc span.cur {color:#1BB8A8;}
#follow_desc span.cur i {background-position:0 -11px;}
#follow_bar {border:1px solid #e1e1e1;height:7px;border-radius:2px;}
#order-follow #follow_cur {width:245px;background-color:#1BB8A8;border:1px solid #1BB8A8;border-radius:2px;position:relative;height:3px;top:-7px;}
#order-follow .step1 {margin-left:2px;}
#order-follow .step2 {margin-left:249px;}
#order-follow .step3 {margin-left:496px;}
#order-follow .step4 {margin-left:750px;}
#gym-info {padding:15px;}
#choose-site #content {border:1px solid #ddd;background-color:#fff;margin-top:15px;position:relative;z-index:1;}
#gym-img-wrap {width:360px;height:240px;margin-right:25px;position:relative;}
#gym-img-wrap #cycle-slideshow img {cursor:auto;}
#gym-img-wrap #nav {position:absolute;bottom:0px;right:5px;display:inline-block;z-index:99999;}
#gym-img-wrap #nav span {cursor:pointer;display:inline-block;height:5px;width:27px;background-color:#fff;text-indent:-9999px;margin-left:3px;}
#gym-img-wrap #nav span.cycle-pager-active {background-color:#F76120;}
#gym-img-wrap img {width:360px;height:240px;}
#gym-info-wrap {width:575px;height:240px;position:relative;}
#gym-info-wrap .tele {line-height:16px;margin-top:10px;}
#gym-info-wrap .addr {line-height:16px;margin-top:15px;}
#gym-info-wrap .other {position:absolute;bottom:10px;}
.attr {color:#666;height:20px;line-height:20px;}
.attr span {display:inline-block;margin-left:10px;line-height:15px;height:15px;color:#666;}
.attr span i {display:inline-block;width:13px;height:13px;background-image:url(../img/filter.png);background-position:0px -47px;background-repeat:no-repeat;margin:0 2px -2px 0;}
.attr span.has i {background-position:0px -28px}
body#choose-site #content,body#order #content {background-color:#fff;}
#site-week {margin:0 12px 0 15px;}
#site-week a {display:inline-block;width:139px;text-align:center;background-color:#E8E8E8;height:36px;line-height:36px;}
#site-week a:hover,#site-week a.cur {background-color:#F76120;color:#fff;}
#site-info-wrap {background-color:#f9f9f9;margin:0 12px 0 15px;padding:14px 0;position:relative;}
.table-chang {width:880px;overflow:hidden;margin:0 0 0 15px;;border-collapse:collapse;border:none;}
.table-chang th,.table-chang td {border:1px solid #f9f9f9;background:#e8e8e8;font-weight:normal;text-align:center;height:36px;vertical-align:middle;}
.table-chang th {background:#e8e8e8;}
.table-chang td div {height:100%;cursor:pointer;}
.table-chang td .allow-sale {background:#7ed3c8;}
.table-chang td .saled {background-color:#ccc;cursor:auto;}
.table-chang td .selected {background-color:#009e0f;}
.table-chang td .border {background-color:#ddd;}
#site-info-desc {position:absolute;right:7px;top:11px;}
#site-info-desc div {color:#666;margin:5px 0;}
#site-info-desc span {display:inline-block;width:15px;height:15px;margin:0 10px -3px 0;}
#site-info-desc-al span {background-color:#7ED3C8;}
#site-info-desc-se span {background-color:#009E0F;}
#site-info-desc-sa span {background-color:#ccc;}
#site-info-res {border:1px solid #F76120;padding:10px;margin:15px 7px 0 15px;}
#site-info-res .site-item {height:40px;line-height:40px;}
#site-info-res .site-item span {display:inline-block;width:32%;text-align:left;}
body#login #footer {margin:0;}
body#order #content #order_wrap {padding:10px;border:1px solid #ddd;}
body#order .menus .menu {margin-bottom:7px;}
body#order .menus .menu:hover a,body#order .menus .menu span.cur {color:#f76120;}
body#order .menus .menu span,body#order .menus .menu a {background:#f1f1f1;display:inline-block;height:37px;line-height:37px;padding:0 50px;font-size:14px;color:#1BB8A8;}
body#order .item_list {background-color:#f8f8f8;padding:15px 10px 15px 10px;width:791px;}
body#order .item_list .header {position:relative;z-index:2;margin-bottom:10px;}
body#order .item_list .order-no {margin-bottom:5px;}
body#order .item_list .order-no span {width:200px;display:inline-block;margin-right:5px;}
body#order .item_list .header div {width:146px;background-color:#c9c9c9;display:inline-block;margin-right:20px;}
body#order .item_list .header div i {width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #999;border-bottom:0px dashed #f8f8f8;background-image:none;position:relative;top:12px;left:7px;}
body#order .item_list .header div:hover i {border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid #f8f8f8;border-bottom:6px dashed #999;top:-11px;left:7px;}
body#order .item_list .header div span,body#order .item_list .header div ul li {display:inline-block;height:26px;line-height:26px;background-color:#e3e3e3;text-indent:10px;}
body#order .item_list .header div ul {border:1px solid #c9c9c9;border-top:0;position:absolute;width:144px;display:none;cursor:pointer;}
body#order .item_list .header div ul li {width:144px;}
body#order .item_list .header div ul li:hover {background-color:#eee;}
body#order .item_list .header div span {width:113px;border:1px solid #c9c9c9;}
body#order .item_list .header div:hover ul {display:block;}
body#order .item_list .item {background-color:#fff;border:1px solid #c9c9c9;padding:10px 10px 8px 10px;margin:0 0 15px 0;}
.item-common {padding-bottom:10px;margin-bottom:10px;}
.item .item-div {display:inline-block;float:left;}
.item .order-info {width:375px;}
.item .site-num {width:74px;}
.item .price-total {width:84px;}
.item .comment-img {width:157px;}
.item .comment-right {width:610px;}
.item .comment-right .right a {display:inline-block;margin-left:10px;}
.item .comment-right .star_rate {margin-bottom:10px;display:inline-block;}
.item .comment-right .star_item {display:inline-block;width:75px;margin-right:5px;text-align:right;}
.item .comment-right .message {resize:none;width:606px;height:78px;border:1px solid #ddd;}
.item .comment-right .starts {display:none;}
.item .comment-right .comment-gym,.item .comment-right .comment-tips {margin-bottom:10px;}
.item .comment_submit span {line-height:26px;height:26px;cursor:pointer;width:94px;text-align:center;color:#fff;display:inline-block;border-radius:4px;margin:0 10px 0 0px;}
.item .order_header {text-align:left;padding:3px 7px;background:#F7F7F7;color:#333;font-weight:bold;}
.item .order-hide {position:absolute;padding:0px;border:6px solid #C9C9C9;display:none;background:#fff;cursor:default;border-radius:5px;text-align:left;}
.item .order-details {bottom:16px;right:-10px;width:500px;}
.item .order-pwd {bottom:15px;right:10px;width:400px;}
.item .price-total:hover .order-hide,.item .show-pwd:hover .order-hide {display:block;}
.item .click-details {position:relative;z-index:2;display:inline-block;}
.item .show-pwd {position:relative;z-index:3;display:inline-block;}
.item .list-total {position:relative;z-index:3;}
.item .order-hide .changci {border:1px solid #C9C9C9;color:#666;padding:0px;margin:5px;}
.item .order-pwd .changci {width:378px;padding:0 5px;text-align:left;}
.item .order-details .order-total {padding:3px 5px;}
.item .order-details .order-total .cl-ccc {padding-right:55px;}
.item .order-status {width:120px;}
.item .operation {width:100px;}
body#order .item_list .name a {font-size:18px;}
body#order .item_list .site-name {color:#666;}
body#order .order-info .left {margin:0 10px 0px 0;height:101px;position:relative;z-index:1;}
body#order .order-info .order-info-wrap {height:101px;position:relative;}
body#order .order-info .order-info-wrap .user-date {bottom:0;position:absolute;left:158px;}
body#order .lh-25 {margin-top:5px;}
body#order .item_list .left2 {width:200px;height:98px;position:relative;}
body#order .item_list .left2 .order-time {position:absolute;bottom:5px;}
body#order .item_list .left3 {width:70px;}
body#order .item_list .left4 {width:92px;text-align:center;}
body#order .item_list .left4 .cl-gray {margin-top:18px;display:inline-block;}
body#order .item_list .left5 {width:100px;text-align:center;}
body#order .item_list .left6 {width:90px;text-align:center;}
body#order .item_list .cl-blue,.fav-button-wrap .cl-blue{cursor:pointer;display:inline-block;}
.del-icon {background-image:url(../img/delete.png);background-repeat:no-repeat;width:14px;height:16px;display:inline-block;}
.item .del {background-position:0px -5px;}
.item .edit {background-position:0px -22px;}
body#order .item_list .total {padding:10px;text-align:right;}
body#order .item_list .once-again {line-height:26px;height:26px;cursor:pointer;width:54px;text-align:center;color:#fff;display:inline-block;border-radius:4px;margin-bottom:5px;}
body#order .item_list .total .bg-gray {cursor:not-allowed;}
body#order .item_list .comment {display:none;padding-top:10px;}
body#order .item_list .comment .data {margin:5px 0;}
body#order .item_list .comment .star_rate {width:75px;display:inline-block;margin-left:15px;}
body#order .item_list .comment .message {height:78px;}
body#order .item_list .comment textarea {}
 body#order .item_list .comment .comment_submit {text-align:right;}
#site-info-res .total {padding:10px;text-align:right;border-top:1px dashed #C9C9C9;margin-top:10px;}
#site-info-res .total .once-again,#orderPay .once-again {line-height:26px;height:26px;cursor:pointer;width:94px;text-align:center;color:#fff;display:inline-block;border-radius:4px;margin-left:20px;}
#site-info-res .total .bg-gray {cursor:not-allowed;}
.payBox_body_left {width:680px;position:relative;border-right:1px solid #F3F3F3;height:282px;}
.payBox_body_right {width:308px;float:right;height:282px;}
.payBox_body_left ol {padding:15px 20px 0;list-style:none;float:left;padding-bottom:65px;}
.payBox_body_left em,.changeMobile {color:#999;}
.payBox_body_left li {line-height:28px;}
.fs14 {font-size:14px;}
.ui_price b {font-size:20px;vertical-align:-1px;}
.ui_media,.ui_text {overflow:hidden;zoom:1;display:inline-block;}
.ui_text {width:547px;}
.ml30 {margin-left:30px;}
.changci {border:1px solid #1BB8A8;color:#1BB8A8;padding:0 5px;height:26px;line-height:26px;width:200px;text-align:center;display:block;float:left;overflow:hidden;margin:0 10px 10px 0;}
.ui_media .ui_pic {float:left;}
.payBox_body_left li.changeMobile {background:#F3F3F3;line-height:22px;padding:10px 20px;position:absolute;bottom:0;left:0px;width:640px;}
.cSport,.c39c {color:#1BB8A8!important;}
.mr5 {margin-right:5px;}
.ml5 {margin-left:5px;}
.limitTimedetail {background:#E9F2E7;padding:10px;height:262px;}
.cf60,.yellow {color:#F60 !important;}
.limitTime {background:url(../img/steps.png) no-repeat;background-position:-218px -360px;padding-left:100px;margin-top:50px;height:76px;}
.limitTime p {color:#1BB8A8;line-height:65px;}
.limitTime p b {color:#1BB8A8;}
.fs22 {font-size:22px;}
#RemainM,#RemainS {font-size:45px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;color:#1BB8A8;}
#pay_method {margin-top:20px;}
#pay_method ul li a {line-height:36px;height:36px;color:#;width:89px;display:inline-block;background-color:#ddd;text-align:center;}
#pay_method ul#pay_method_wrap li.cur a {background-color:#1BB8A8;color:#fff;}
#pay_method ul li:hover a {color:#fff;}
#pay_method_wrap {border-bottom:1px solid #1BB8A8;}
.bankicon {background:url(../img/banks.png) no-repeat;border:1px solid #E0E0E0;display:inline-block;height:32px;margin:5px 5px 5px 0;text-indent:-9999px;vertical-align:middle;width:130px;position:relative;margin-left:5px;}
.ic-boc {background-position:0px -178px;}
.ic-ccb {background-position:0px -212px;}
.ic-icbc {background-position:0px -646px;}
.ic-cmb {background-position:0px -394px;}
.ic-citic {background-position:0px -1088px;}
.ic-cib {background-position:0px -280px;}
.ic-ceb {background-position:0px -246px;}
.ic-psbc {background-position:0px -796px;}
.ic-gdb {background-position:0px -544px;}
.ic-pab {background-position:0px -762px;}
.ic-spdb {background-position:0px -898px;}
.ic-sdb {background-position:-4px -1119px;}
.ic-bocom {background-position:0px -144px;}
.ic-cmbc {background-position:0px -468px;}
.ic-abc {background-position:0px 0px;}
.bank-logo {padding:10px 0;border-bottom:1px solid #1BB8A8;}
.bank-logo li {float:left;margin-left:30px;display:inline;}
.bank-logo li label {display:inline-block;cursor:pointer;}
#orderPay {text-align:right;padding:10px;}
#message-content {text-align:center;background-color:#FFF;border:1px solid #DDD;}
.baseinfo-group {position:relative;padding-bottom:20px;zoom:1;}
.baseinfo-group .info {line-height:26px;color:#808080;}
.baseinfo-group .input {border:none;background:none;margin:0;padding:5px;height:14px;vertical-align:top;cursor:text;width:100px;line-height:14px;}
.baseinfo-group .input-text {display:inline-block;vertical-align:middle;position:relative;color:#666;border:solid 1px #999;-webkit-box-shadow:1px 1px 3px #DDD inset;-moz-box-shadow:1px 1px 3px #ddd inset;box-shadow:1px 1px 3px #DDD inset;margin-right:10px;}
.baseinfo-group .input-error {border:solid 1px #AE4A4A;}
.baseinfo-group .baseinfo-label {position:absolute;top:0;left:0;line-height:26px;font-size:14px;font-weight:bold;color:#333;padding-left:10px;}
.baseinfo-group .baseinfo-content {margin-left:140px;position:relative;width:355px;line-height:26px;}
.baseinfo-group .baseinfo-content .edit-able strong {display:inline-block;margin-right:10px;}
.baseinfo-group .baseinfo-content a {display:inline-block;}
.baseinfo-group .baseinfo-content .edit-cancel {margin-right:5px;}
#order_wrap .none {display:none;}
#sendMobileCode {padding:2px 5px;margin:0;}
.favorite-dialog__container {position:absolute;border:1px solid #008177;padding:5px 10px;text-align:center;background:#fff;width:100px;top:-67px;left:-47px;display:none;}
.favorite-dialog__mask {position:absolute;top:-3px;left:-3px;right:-3px;bottom:-3px;background-color:#000;opacity:.12;filter:alpha(opacity=12);z-index:-1}
.favorite-dialog__close {display:block;position:absolute;top:5px;right:5px;background:url(../img/dialog-close.v9db1b93f.png);height:10px;width:10px;cursor:pointer}
.favorite-dialog__title {vertical-align:middle;font-weight:700}
.favorite-dialog__success {display:inline-block;vertical-align:middle;background:url(../img/sys-icons-16.vbca6fa77.png);height:16px;width:16px;margin-right:3px}
.favorite-dialog__content {font-size:12px}
.i .favorite-dialog__container{top:-50px;}
