<div class="toolbar cf">
	<div class="tool_date cf">
		<div class="title cf">
			<div class="more form" id="ver_keys">			
				<form id="lcsubmit" battr=1  burl='Sluser/userList' page="Sluser/userList" class="fl">
					用户名:
					<input type="text" name="username" placeholder="用户名:值"/>
					电话：
					<input type="text" name="mobile" placeholder="电话:值"/>
					邮箱：
					<input type="text" name="email" placeholder="邮箱:值"/>
					注册时间: 
					<input type="text" name="start_date" onclick="WdatePicker()" style="width:75px;"/>&nbsp;-&nbsp;
					<input type="text" name="end_date" onclick="WdatePicker()" style="width:75px;"/>
					<input type="submit"  class="btn" value="搜索">
				</form>
				{if $permission.'Sluser/modifyUser'}
					<label><input type="button" value="保存"  burl="Sluser/modifyUser" class="saveInfo btn"/></label>
				{/if}
			</div>
		</div>
	</div>
</div>
<!-- -->
<div id="table_column" class="column cf datashow">
	<div id="dataTable" class="dataTable">
		<table  width="80%" cellpadding="5" cellspacing="3" class="contab">
				<thead>
					<tr>
						<th><input type="checkbox" class="check" isc=2 ></th>
						<th>用户ID</th>
						<th>真实姓名</th>
						<th>用户名</th>	
						<th>邮箱</th>
						<th>状态</th>
						<th>注册时间</th>
						<th>最后登陆时间</th>
						<th>操作</th>
					</tr>
				</thead>		
				<tbody class="dataTab">
					{foreach from=$aData key=key item=val}
					<tr {if $key%2 != 0} class="divGray" {/if}>
						<td align="center"><input type="checkbox" name='ids[]' value="{$val.id}"></td>
						<td align="center">{$val.id}</td>
						<td align="center">{$val.realname}</td>
						<td align="center">{$val.username}</td>
						<td align="center">{$val.email}</td>	
						<td align="center">
							<select name="status" disabled="disabled">
								<option {if $val.status == 1}selected="selected"{/if} value=1 >正常</option>
								<option {if $val.status == 0}selected="selected"{/if} value=0 >禁用</option>															
							</select>
						</td>
						<td>{$val.create_time}</td>
						<td>{$val.login_time}</td>
						<td align="center">							
							<span><a class="editTr" isedit="0">编辑</a></span>
							{if $permission.'Sluser/userInfo'}		
							<span>
								<a burl="Sluser/userInfo?id={$val.id}" id="popData"  data-name="用户详情" page="Sluser/userInfo")">查看详情</a>
							</span>	
							{/if}			
						</td>
					</tr>
				{/foreach}
				<tr>
					<td colspan="9" style="height:28px;">
						<span><img src="/Admin/images/arrow_ltr.png"></span> 
	        			<span>
	        				<a class="check" isc=1>全选</a> / 
	        				<a class="check" isc=0>全不选</a>
	        			</span>
	        			&nbsp;&nbsp;
	        			<span>
	        				<a class="bantcheditTr" isedit="1">批量编辑</a>
	        			</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="page">{$pagelink}</div>	
</div>
<!-- end -->
{literal}
<script type="text/javascript">  
</script>
{/literal}
